menu "micro-ROS app settings"

    config MICRO_ROS_APP_STACK
        int "micro-ROS 任务栈大小 (Bytes)"
        default 16000

    config MICRO_ROS_APP_TASK_PRIO
        int "micro-ROS 任务优先级"
        default 5

endmenu
